
@{
    ViewBag.Title = "AdminAccess";
}

<h2>AdminAccess</h2>

<a class="text-center" href="/Admin/AddProductToShop">Add items to shop</a> <br>
<a class="text-center" href="/Admin/DisplayAdminProducts">Remove</a>