
@{
    ViewBag.Title = "AdminAccess";
}

<h2>Manage store</h2>

<h4><a class="text-center" href="/Admin/AddProductToShop">Add products to shop</a></h4>
<h4><a class="text-center" href="/Admin/DisplayAdminProducts">Remove products from shop</a></h4>