@model List<webshop.Models.CartModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("VerifyCheckout", "Checkout"))
{
        <label for="FirstName">First Name: </label>
        <input type="text" name="FirstName" />
        <label for="LastName">Last Name: </label>
        <input type="text" name="LastName" />
        <label for="Email">Email: </label>
        <input type="text" name="Email" />
        <label for="Street">Street: </label>
        <input type="text" name="Street" />
        <label for="ZipCode">Zip Code: </label>
        <input type="text" name="ZipCode" />
        <label for="City">City: </label>
        <input type="text" name="City" />
        <input type="Submit" value="Create Order" />
}