
@{
    ViewBag.Title = "OrderSent";
}

<div class="text-center">
    <h2>Your order was successful</h2>
    <p>Information will be sent to your email with order details.</p><br>
    <p>Thank you for shopping at Eshop!</p>
</div>
